<div class="container">
<%= form_for @idea, html: {id: "new-idea-form" } do |f| %>
<div class="form-group new-form">
  <%= f.text_field :title, id: "title-field", placeholder: "Idea Title" %>
  <%= f.text_field :body, id: "body-field", placeholder: "Idea Content" %>
  <%= f.submit class: "btn btn-md btn-primary" %>
<% end %>
</div>

<form>
  <div class="form-group">
  <input type="text" id="idea-search" placeholder="Search Ideas">
</div>
</form>

<ul id="ideas" class="list-group">
  <% @ideas.each do |idea| %>
    <%= render partial: "idea", locals: {idea: idea} %>
  <% end %>
</ul>
</div>
